extends ../layouts/application.pug

block header
  = t('views.users.edit.header')

block content
  +formFor()(action=route('patchUser', { id: entity.id }) method='post')
    input(name='_method' type='hidden' value='patch')
    +input(entity, 'firstName', errors)(type="text")
    +input(entity, 'lastName', errors)(type="text")
    +input(entity, 'email', errors)(type="text")
    +input(entity, 'password', errors)(type="password")
    +submit(entity)(value=t('views.users.edit.submit'))
