extends ../layouts/application.pug

block header
  = t('views.users.new.signUp')

block content
  +formFor()(action=route('users') method='post')
    +input(entity, 'firstName', errors)(type="text")
    +input(entity, 'lastName', errors)(type="text")
    +input(entity, 'email', errors)(type="text")
    +input(entity, 'password', errors)(type="password")
    +submit(entity)(value=t('views.users.new.submit'))
