extends ../layouts/application.pug

block header
  = t('views.marks.new.create')

block content
  +formFor()(action=route('tags') method='post')
    +input(entity, 'name', errors)(type="text")
    +submit(entity)(value=t('views.marks.new.send'))
